.MajorDiv{
    padding: 0;
    margin: 0;
    background: rgb(34,123,124);
    background: linear-gradient(0deg, rgba(34,123,124,1) 41%, rgba(3,11,9,1) 97%);
 }
 .myHeaderDiv {
    width: 95%;
    height: 180px;
    background: rgb(34, 123, 124);
    background: linear-gradient(0deg, rgba(34, 123, 124, 1) 41%, rgba(3, 11, 9, 1) 97%);
    color: white;
    margin-left: 30px;

 }
 .MyColouredLinks{
    margin-top: 50px;
    margin-left: 37%;
 }
 .MainContents{
   background: rgb(34,123,124);
    width: 100%;
    height: 100%;
    margin-top: 10px;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
 }
 .Imagebox{
    margin-left: 5px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
   
 }
 .subBox{
    width: 98%;
    height: 100%;
 }
 .box{
    width: 100%;
    margin-top: 50px;
 }
 .myHeading{
   color: white; 
 }
 .cityHeading{
   margin-top: -5px;
   text-align: center;
 }
 .price{
   text-align: center;
   background-color: black;
   margin-top: -10px;
   color: grey;
   
 }
 .underDeco{
   background: rgb(34,123,124);
   background: linear-gradient(0deg, rgba(34,123,124,1) 41%, rgba(3,11,9,1) 97%);
 }
 .searchBar{
   box-sizing: border-box;
   width: 100%;
   height: 40px;
   border: none;
   background: rgb(36,35,48);
   background: rgb(34,123,124);
   background: linear-gradient(0deg, rgba(34,123,124,1) 41%, rgba(3,11,9,1) 97%);
   border-radius: 40px;
   opacity: 0.9; 
   text-align: center;
   font-size: large;
 }
 .searchBar::placeholder{
   color: black;
 }
 .SearchIcon{
   width: 30px;
   height: 30px;
   position: absolute;
   left:550px;
   top: 270px;
   
 }