.signUpMainDiv{
    width:100%;
    height: 657px;
    background: linear-gradient(90.44deg, #12384E 1.15%, rgba(104, 191, 186, 0.34) 99.61%);
    padding: 0;
    margin: 0;
}
.contentContainer{
    width: 47%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 11%;
    background: linear-gradient(180deg, #12384E 0%, rgba(248, 248, 248, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.signUpHeading{
    color: white;
    margin-top: 40%;
    text-align: center;
}
.box2{
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: 68BFBA;
    position: absolute;
    top: 10%;
    left: 58%;
    height: 80%;
    width: 30%;
}
.signInHead{
    text-align: center;
    color: #12384E;
    margin-top: 20%;
}
.textboxx{
    width: 300px;
    margin-left: 13%;
    margin-top: 5%;
    height: 35px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(180deg, #12384E 0%, rgba(0, 0, 0, 0.37) 100%);
    text-align: center;
    align-self: center;
}
.textboxx::placeholder{
    color: white;
    text-align: center;
}
.btnLog{
    width: 300px;
    height: 35px;
    margin-left: 13%;
    border-radius: 5px;
    border: none;
    margin-top: 5%;
}
.signInSpan{
    margin-left: 13%;
}
.resetSpan{
    margin-left: 13%;
}
.icon{
    position: absolute;
    left: 260px;
    top: 100px;
    border-radius: 50px;
    width: 125px;
    height: 120px;
}